# Pandas的数据转换函数map、apply、applymap

数据转换函数对比: map、apply、applymap;

1. map: 只用于Series，实现每个值->值的映射;
2. apply: 用于Series实现每个值的处理，用于DataFrame实现某个轴的Series的处理;
3. applymap: 只能用于DataFrame，用于处理该DataFrame的每个元素;

## 1. map用于Series值的转换

实例：将股票代码英文转换为中文名字

Series.map(dict) or Series.map(function)均可

In [1]:
import pandas as pd
stocks = pd.read_excel('../datas/股票.xlsx')
stocks.head()

          日期    公司     收盘     开盘      高      低     交易量     涨跌幅
0 2023-07-12    JD  37.41  37.34  37.83  36.91  11.42M  0.0386
1 2023-07-11    JD  36.02  35.90  36.39  35.31   6.95M  0.0019
2 2023-07-10    JD  35.95  35.30  36.15  35.06   8.33M  0.0053
3 2023-07-12  BABA  94.00  94.11  95.03  92.55  23.78M  0.0241
4 2023-07-11  BABA  91.79  91.02  92.32  89.01  19.74M  0.0136

In [2]:
stocks['公司'].unique()

array(['JD', 'BABA', 'BIDU', 'IQ'], dtype=object)

In [3]:
# 公司股票代码到中文的映射，注意这里是小写
dict_company_names = {
    "bidu":"百度",
    "baba":"阿里巴巴",
    "iq":"爱奇艺",
    "jd":"京东",
}

---
**方法1：Series.map(dict)**

---

In [5]:
stocks["公司中文1"] = stocks["公司"].str.lower().map(dict_company_names)

In [6]:
stocks.head()

          日期    公司     收盘     开盘      高      低     交易量     涨跌幅 公司中文1
0 2023-07-12    JD  37.41  37.34  37.83  36.91  11.42M  0.0386    京东
1 2023-07-11    JD  36.02  35.90  36.39  35.31   6.95M  0.0019    京东
2 2023-07-10    JD  35.95  35.30  36.15  35.06   8.33M  0.0053    京东
3 2023-07-12  BABA  94.00  94.11  95.03  92.55  23.78M  0.0241  阿里巴巴
4 2023-07-11  BABA  91.79  91.02  92.32  89.01  19.74M  0.0136  阿里巴巴

---
**方法二：Series.map(function)**

function的参数是Series的每个元素的值

---

In [8]:
stocks["公司中文2"] = stocks["公司"].map(lambda x : dict_company_names[x.lower()])

In [9]:
stocks.head()

          日期    公司     收盘     开盘      高      低     交易量     涨跌幅 公司中文1 公司中文2
0 2023-07-12    JD  37.41  37.34  37.83  36.91  11.42M  0.0386    京东    京东
1 2023-07-11    JD  36.02  35.90  36.39  35.31   6.95M  0.0019    京东    京东
2 2023-07-10    JD  35.95  35.30  36.15  35.06   8.33M  0.0053    京东    京东
3 2023-07-12  BABA  94.00  94.11  95.03  92.55  23.78M  0.0241  阿里巴巴  阿里巴巴
4 2023-07-11  BABA  91.79  91.02  92.32  89.01  19.74M  0.0136  阿里巴巴  阿里巴巴

## 2. apply用于Series和DataFrame的转换
* Series.apply(function),函数的参数是每个值
* DataFrame.apply(function),函数的参数是Series

**Series.apply(function)**

function的参数是Series的每个值

---

In [12]:
stocks["公司中文3"] = stocks["公司"].apply(
    lambda x : dict_company_names[x.lower()])

In [13]:
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,公司中文1,公司中文2,公司中文3
0,2023-07-12,JD,37.41,37.34,37.83,36.91,11.42M,0.0386,京东,京东,京东
1,2023-07-11,JD,36.02,35.90,36.39,35.31,6.95M,0.0019,京东,京东,京东
2,2023-07-10,JD,35.95,35.30,36.15,35.06,8.33M,0.0053,京东,京东,京东
3,2023-07-12,BABA,94.00,94.11,95.03,92.55,23.78M,0.0241,阿里巴巴,阿里巴巴,阿里巴巴
4,2023-07-11,BABA,91.79,91.02,92.32,89.01,19.74M,0.0136,阿里巴巴,阿里巴巴,阿里巴巴

**DataFrame.apply(function)**

function的参数是对应轴的Series

---

In [14]:
stocks["公司中文4"] = stocks.apply(
    lambda x : dict_company_names[x["公司"].lower()],
    axis=1)

注意这个代码：
1. apply实在stocks这个DataFrame上调用;
2. lambda x的x是一个Series，因为指定了axis=1所以Series的key是列名，可以用x['公司']获取;
---

In [15]:
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,公司中文1,公司中文2,公司中文3,公司中文4
0,2023-07-12,JD,37.41,37.34,37.83,36.91,11.42M,0.0386,京东,京东,京东,京东
1,2023-07-11,JD,36.02,35.90,36.39,35.31,6.95M,0.0019,京东,京东,京东,京东
2,2023-07-10,JD,35.95,35.30,36.15,35.06,8.33M,0.0053,京东,京东,京东,京东
3,2023-07-12,BABA,94.00,94.11,95.03,92.55,23.78M,0.0241,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
4,2023-07-11,BABA,91.79,91.02,92.32,89.01,19.74M,0.0136,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴

## 3. applymap用于DataFrame所有值的转换

In [21]:
sub_df = stocks[['收盘','开盘','高','低']]

In [22]:
sub_df.head()

      收盘     开盘      高      低
0  37.41  37.34  37.83  36.91
1  36.02  35.90  36.39  35.31
2  35.95  35.30  36.15  35.06
3  94.00  94.11  95.03  92.55
4  91.79  91.02  92.32  89.01

In [23]:
# 将这些数字取整数，应用于所有元素
sub_df.applymap(lambda x : int(x))

     收盘   开盘    高    低
0    37   37   37   36
1    36   35   36   35
2    35   35   36   35
3    94   94   95   92
4    91   91   92   89
5    90   90   92   89
6   148  147  150  145
7   143  143  144  140
8   142  140  143  140
9     5    5    5    5
10    5    5    5    5
11    5    5    5    5

In [25]:
# 直接修改原df的这几列
stocks.loc[:,['收盘','开盘','高','低']] = sub_df.applymap(lambda x : int(x))

In [26]:
stocks.head()

          日期    公司  收盘  开盘   高   低     交易量     涨跌幅 公司中文1 公司中文2 公司中文3 公司中文4
0 2023-07-12    JD  37  37  37  36  11.42M  0.0386    京东    京东    京东    京东
1 2023-07-11    JD  36  35  36  35   6.95M  0.0019    京东    京东    京东    京东
2 2023-07-10    JD  35  35  36  35   8.33M  0.0053    京东    京东    京东    京东
3 2023-07-12  BABA  94  94  95  92  23.78M  0.0241  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
4 2023-07-11  BABA  91  91  92  89  19.74M  0.0136  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴